* {
    font-family: 'Roboto', sans-serif;
} 
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
} 
.cargo-count, .stock-count {
    font-size: 3em;
    text-align: right;
}
.shelves-glyph, .stock-glyph {
    font-size: 100px;
}
.dashboard-box-left, .dashboard-box-right, .dashboard-box-bottom, .notification-panel, .left-sidebar {
    padding: 20px;
    background-color: #CFD8DC;
    border-color: #ECEFF1;
    border-style: solid;
    border-radius: 20px;
    
}
.glyphicon-triangle-right {
    float: right;
}
.dashboard-box-left:hover, .dashboard-box-right:hover, .dashboard-box-bottom:hover, .left-sidebar:hover {
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    background-color: #B0BEC5
}
.mock-image {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.fixed {
    position: fixed;
    right: 10px;
    top: 88px;
}
.left-sidebar {
    margin-top: 68px;
    position: fixed;
    width: 23%;
}
.navbar-brand {
    font-size: 1.5em;
}

@media (max-width: 1199px) {
    .left-sidebar {
        margin-top: 68px;
        margin-bottom: 10px;
        position: static;
        width: 100%;
    }
}